h1
{
	text-align:center;
	color: rgb(255,255,255);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.Goal
{
	font-family: "Arial Black", Gadget, sans-serif;
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.Roles
{
	font-family: "Arial Black", Gadget, sans-serif;
	text-align:center;
	margin-top: 10px;
	font-size: 50px;
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	
}
.Guide
{
	margin-left: 485px;
	font-family: "Arial Black", Gadget, sans-serif;
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
h3
{
	margin-top:80px;	
	font-family: "Arial Black", Gadget, sans-serif;
	text-align:center;
	word-spacing: 30px;
	font-size: 30px;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.Fact
{
	text-align: center;
	color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	margin-top: 0px;
	font-size: 20px;
}	
a:link
{
	text-decoration: none;
	color: orange;
}
a:visited 
{
	color:orange;
}
div
{
	color:rgb(109, 224, 214);
	margin-top: 360px;
}
span
{
	font-size: 30px;
	text-align: center;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}	
img
{
	margin-left: 520px;
	margin-top: 0px;
	font-size:20px;
	text-align: center;
}
.Icon
{
	margin-left: 500px;
}	