h1
{
	text-align:center;
	color: rgb(255,255,255);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.Goal
{
	color: rgb(77, 4, 155);	
	font-family: "Arial Black", Gadget, sans-serif;
}
.Roles
{
	text-align:center;
	margin-top: 50px;
	font-size: 50px;
	
}
.Guide
{
	text-align: center;
	color:rgb(242, 9, 98);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	
}	
h3
{
	margin-top:80px;	
	text-align:center;
	word-spacing: 30px;
	font-size: 30px;
	
}
a:link
{
	text-decoration: none;
}
a:visited 
{
	color:orange;
}
div
{
	color:rgb(109, 224, 214);
	margin-top: 150px;
}
span
{
	font-size: 35px;
}	